apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-pv 
  labels:
    name: nfs-pv
spec:
  capacity:
      storage: DISK_SIZE 
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: /
    server: NFS_IP 

