apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-pv-provisioning-3
  labels:
    name: kafka-pv-provisioning-3
  annotations:
    volume.alpha.kubernetes.io/storage-class: any
spec:
  accessModes: [ "ReadWriteOnce" ]
  resources:
    requests:
      storage: DISK_SIZE_KAFKA 
